@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="jumbotron">
        <h2>EDE HomePage</h2>
        <p>Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull 
        company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap. 
        Dus alles is wel al gewoon responsive voor mobiel en tablets.<br />links hierboven werken niet.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>


