@{
    ViewData["Title"] = "About";
}

<!--breadcrumbs-->
<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
</ol>


<!--bootstrap 12 column system-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Column 1</h4>
            Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets. Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets.
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Column 2</h4>
            Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets. Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets.
        </div>
        
        @*
        <div class="clearfix visible-sm"></div> example how to use in case something doesnt line up properly    
        *@


        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Column 3</h4>
            Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets. Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets.
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Column 4</h4>
            Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets. Some random text to see how it looks etc. bla bla it looks etc. bla bla EDE is a succesfull
            company insha'Allah. Er is niks met css gedaan dit ziet er nog allemal zo uit dmv bootstrap.
            Dus alles is wel al gewoon responsive voor mobiel en tablets.
        </div>

    </div>
</div>
