@{
    ViewData["Title"] = "Kawtar";
}

<!--breadcrumbs-->
<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Kawtar">Kawtar</a></li>
</ol>


<div class="container">

    <div class="well hidden-sm hidden-md hidden-lg">
        <p>Screen &lt; 768px</p>
    </div>

    <div class="well hidden-md hidden-lg">
        <p>Screen &lt; 768px and &lt; 992px</p>
    </div>

    <div class="well hidden-lg">
        <p>Screen &gt; 992px and &lt; 1200px</p>
    </div>

    <div class="well">
        <p>Screen &gt; 1200px</p>
    </div>

    <div class="row">

        <div class="col-md-6 col-md-offset-6"><!--leaves 6 columns blank on the right side of the screen when medium-->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td colspan="4">Best Food items and amounts</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="col-md-2"></th>
                        <th class="text-center">BaTaTa</th>
                        <th class="text-center">BoGizzo</th>
                        <th class="text-center">Bokkabuz</th>
                    </tr>
                    <tr>
                        <th>Me</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>Sayf</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                    </tr>
                    <tr>
                        <th>&ccedil;</th>
                        <th>7</th>
                        <th>8</th>
                        <th>&there4;</th>
                    </tr>
                </tbody>
            </table>
            
            
            
        </div> 

    </div>






</div>